{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Nurlanov Erkin</title>
    <link rel="stylesheet" href="{% static 'styles/indexformeet.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}>
    <link rel="shortcut icon" href="{% static 'icons/delete' %}" type="image/png"/>
</head>
<body>
    <section>
        <div class="create_container">
            
            <form action="{% url 'add-meet' %}" method="POST">
                {% csrf_token %}
                <input
                    class="create_input"
                    type="text"
                    placeholder="Введите имя"
                    name = "meet_text"
                />
                <input
                    class="create_input"
                    type="text"
                    placeholder="Введите номер телефона"
                    name = "phone"
                />
                <input
                    class="create_input"
                    type="text"
                    placeholder="Введите комментарий"
                    name = "comment"
                />
                <button class="create_button">Добавить</button>
            </form>
        </div>

        <div class="todo_container">

            {% for tomeet in meet_list %}

            <div class="todo_item
              {% if tomeet.is_favorite %}
                    marked
              {% elif tomeet.is_closed %}
                    done
             {% endif %}
            ">
                <div class="todo_item_header">   
                    <label class="checkbox_container">
                        <input  type="checkbox"/>
                        <h4> <a href="{% url 'close-tomeet' tomeet.id %}" class="text" >{{ tomeet.persone }} 
                            - {{ tomeet.phone_number}} </a> </h4> <br>
                         <p> {{ tomeet.comment }} </p> 
                        <span class="checkmark"></span>
                    </label>
                     
                    <div>
                        <div class="todo_item_footer">
                            <p> {{ tomeet.date_of_meeting}} </p>
                            
                            <div class="action_buttons">
                                {% if tomeet.is_favorite %}
                                    <a href="{% url 'mark-to-meet' tomeet.id %}"><img src="{% static './icons/marked.png' %}"/></a>
                                    {% else %}
                                    <a href="{% url 'unmark-to-meet' tomeet.id %}"><img src="{% static './icons/unmarked.png' %}"/></a>
                                    {% endif %}

                                <a href="{% url 'delete-tomeet' tomeet.id %}"><img src="{% static './icons/delete.png' %} "></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
</body>
</html>